html,
body {
  font-family: sans-serif;
  line-height: 150%;
  letter-spacing: 0.025rem;
  color: #444;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

h3 {
  margin: 5px 0 20px;
}

.container {
  /* margin: 0 auto; */
  display: flex;
  gap: 3rem;
  background-color: #0b525c;
  color: #fff;
  padding: 4rem 3rem;
}

.inspect {
  position: fixed;
  bottom: 0;
  height: 50px;
  background-color: #000;
  z-index: 100;
  width: 100%;
  color: #fff;
  display: flex;
}

@media screen and (max-width: 500px) {
  .container {
    flex-direction: column;
  }
}

.side {
  flex: 1;
}

.left-column {
  padding-right: 20px;
  position: relative;
  height: 600px;
  overflow: visible;
}
/* .text-wrapper {
  position: sticky;
  top: 0px;
} */
.right-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards-container {
  height: 750px;
  overflow: visible;
  margin-bottom: 20px;
  position: relative;
}
.card {
  width: auto;
  max-width: 400px;
  box-sizing: border-box;
  height: auto;
  position: relative;
  background-color: #0e6975;
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 10px;
  margin-top: 0px;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.7);
  transition: transform 0.5s;
}

.section {
  height: 1000px;
  background-color: lightgray;
  margin-bottom: 50px;
}

.bg-red {
  background-color: #c00;
}
.bg-green {
  background-color: darkseagreen;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
  /* position: relative; */
  /* top: 0;
  left: 0; */

  /* height: 200vh;
  overflow-y: auto; */
  /* position: sticky;
  top: 0; */
}
/* Hide scrollbar for Chrome, Safari and Opera */
/* .stop-scrolling::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox /
.stop-scrolling {
  -ms-overflow-style: none; /* IE and Edge /
  scrollbar-width: none; /* Firefox /
} */
.stop-scrolling::-webkit-scrollbar {
  display: block;
}
/* Hide scrollbar for IE, Edge and Firefox */
.stop-scrolling {
  -ms-overflow-style: 10px; /* IE and Edge */
  scrollbar-width: 10px; /* Firefox */
}

.hidden-scroll {
  height: 100%;
  overflow: hidden;
}
#wheelPos,
#scrollPos {
  color: yellow;
  padding: 10px;
  font-size: 20px;
}

.add-absolute {
  position: absolute;
}

.disable-scroll {
  overflow-y: hidden;
  background-color: #fc0;
}

section p {
  padding: 3rem;
  padding-top: 0;
}
